

<h1>Confirm Delete</h1>
<h1>Are You Sure To Delete This Book : @Model.Name</h1>
<a class="btn  btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@Model.Id">Yes</a>
<a class="btn btn-primary" asp-controller="Category" asp-action="Index">Cancel</a>