<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - testproject</title>
     <!-- Core Style CSS -->
    <link rel="stylesheet" href="https://therichpost.com/responsivestyle/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css">

   <style>
    .logo{font-size: 3rem;}
   </style>
  
</head>
<body>
   @RenderBody()
  
</body>
</html