
<h3 style="text-align:center;color:black; margin-top:10px;">Welcome to Admin Control Page </h3>

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<ul>
@*    <li> <a asp-action="SignIn" asp-controller="User"> <i class="bi bi-person-fill"></i> To THe Admin Login Page </a> </li>
*@     <li> <a asp-action="SignUp" asp-controller="User"> <i class="bi bi-person-plus-fill"></i> To Add a User With Role Options </a> </li>
    <li> <a asp-action="SignUpEditor" asp-controller="User"> <i class="bi bi-person-plus-fill"></i> To Add an Editor </a> </li>
   
   
    <li> <a asp-action="SignUpCustomer" asp-controller="User"> <i class="bi bi-person-plus-fill"></i> To Add a Customer </a> </li>
    <li> <a asp-action="Add" asp-controller="Role"><i class="bi bi-person-plus-fill"></i> To Add Role </a> </li>

    <li> <a asp-action="UsersDetails" asp-controller="User"> <i class="bi bi-pencil-square"></i> To Update User</a> </li>
    <li> <a asp-action="UsersDetails" asp-controller="User">     <i class="bi bi-person-dash-fill"></i> To Delete a User</a> </li>

    <li> <a asp-action="UsersDetails" asp-controller="User"> <i class="bi bi-info-circle-fill"></i> To All Users Details </a> </li>

</ul>

