@model List<User>

<h3 style="text-align:center;color:black; margin-top:10px;">All Users Dtails In The Dashboard</h3>
<br />
<br />
<br />



<table class="table">
  <thead>
    <tr>
            <td scope="col" class="table-dark">User Name</td>
            <td scope="col" class="table-dark">First Name</td>
            <td scope="col" class="table-dark">Last Name</td>
            <td scope="col" class="table-dark">Email</td>

    </tr>
  </thead>
  <tbody>
      @foreach(var u in Model){
    <tr>
     
                <td class="table-primary">@u.UserName</td>
                <td class="table-info">@u.FirstName</td>
                <td class="table-secondary">@u.LastName</td>
            <td class="table-success">@u.Email</td>

    </tr>
      }
  </tbody>
</table>



