 @model BrandModel

 <h1>Add New Brand</h1>

<div class="alert alert-success" role="alert" style="display:none;" id="Succses">
    This is a success alert with <a href="/Home/Index" class="alert-link">Home</a>. Give it a click if you like.
</div>
<p class="mb-0"><a asp-controller="Brand" asp-action="AllBrand">Back to Brands</a>.</p>
<form data-ajax="true" data-ajax-complete="AlertDone" data-ajax-loading="#loader" method="post" asp-controller="Brand" asp-action="AddNewBrand" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="validation"></span>
    </div>

    <div>
        <div class="form-group">
            <label asp-for="Cat_Id"></label>
            <input asp-for="Cat_Id" name="Cat_Id" class="form-control" />
            <span asp-validation-for="Cat_Id" class="validation"></span>
        </div>
    </div>

    <input type="submit" value="Add New Brand" class="btn btn-success" />
</form>
 

<script>
    function AlertDone(event) {
        document.getElementById("Succses").style.display = "block";
    }</script>